<h1>Post Here</h1>

<div class="User">

  <img src="<%= @user.avatar %>">
  <h3> <%= @user.full_name %> </h3>
</div>

<div class="post-container">
    <% @posts.each do |post| %>
        <div class="postWrapper">
        <h2> Title: <%= post.title %> </h2>
        <p> <%= post.text %> </p>
        </div>
    <% end %>
</div>