<h2>Login Page</h2>

<form role="form" method="POST" action="/login">
  <input type="text" name="email" placeholder="User email">
  <input type="password" name="password" placeholder="User password">
  <input type="submit" value="Log in" class="btn btn-info btn-block">
</form>

